

. { 
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}

.title-section {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: column;
}

.articletitle {
    font-size: 40px;
    max-width: 30%;
    font-style: italic;
    font: Georgia;
}

.title-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-title {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
}

.img-title img {
    width:80%;
    height:auto;
}

.label-image {
    height:auto;
    width: 80%; 
    margin-top: 7px;
}

.label-image .text-label {
    width: 75%;
    font-size: 15px;
    color: #666666;
}

.article-text {
    font-size: 20px;
    color: #333333;
    margin: auto;
    width:40%;
    text-align: justify ;
    line-height: 1.5;
    margin-bottom: 15px;
}


.article-writer {
    font-size: 15px;
    color: #333333;
    margin: auto;
    margin-top:30px;
    width:40%;
    text-decoration: none;
    font-weight: bold;
}

.article-writer a {
    text-decoration: none;
    font-weight: bold;
    color: #333333;
}

.social-media {
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 14px;
    font:helvetica;
    color: #333333;
    margin: auto;
    width:40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-icon {
    width: 30px;
    height: auto;

}
.imagefloat{
    display: inline;

}


#g-ai1 {
    float: left;
    margin-right: 10px;
}

#g-ai2 {
    float: left;
    margin-right: 10px;
}
#g-ai3 {
    float: left;
    margin-right: 10px;
}
#g-ai4 {
    float: left;
    margin-right: 10px;
}